<!DOCTYPE html>
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="fragment" content="!">

  <title>Loading...</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

  <link rel="manifest" href="/system/assets/static/manifest.json">
  
  <!-- {{locals.config.cssFramework}} -->
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">

  {% for file in aggregatedassets.header.css %}
    <link rel="stylesheet" href="{{file}}">
  {% endfor %}

  {% for file in aggregatedassets.footer.css %}
    <link rel="stylesheet" href="{{file}}">
  {% endfor %}

  {% for file in aggregatedassets.header.js %}
    <script type="text/javascript" src="{{file}}"></script>
  {% endfor %}

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <script src="https://use.fontawesome.com/42dab66ad0.js"></script>
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/system/assets/img/favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/system/assets/img/favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/system/assets/img/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/system/assets/img/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/system/assets/img/favicon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/system/assets/img/favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/system/assets/img/favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/system/assets/img/favicon/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/system/assets/img/favicon/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/system/assets/img/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/system/assets/img/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/system/assets/img/favicon/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/system/assets/img/favicon/favicon-128.png" sizes="128x128" />
  <meta name="msapplication-TileColor" content="#3F51B5" />
  <meta name="msapplication-TileImage" content="/system/assets/img/favicon/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="/system/assets/img/favicon/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="/system/assets/img/favicon/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="/system/assets/img/favicon/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="/system/assets/img/favicon/mstile-310x310.png" />
</head>
