<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
{% include '../includes/head.html' %}

<body ng-cloak class="ng-cloak" ng-class="state" layout="column">
  {% block content %}{% endblock %}
	{% include '../includes/foot.html' %}
</body>

</html>
