<section data-ng-controller="UsersController">
	<toolbar />
	<section flex-offset-gt-md="20" flex-gt-md="60">
		<consent ng-if="user.participantUrl && !user.consented"/>
		<expired ng-if="user.isExpired && !user.finishedStamp" />
		<quiz ng-if="quiz"/>
		<badge-chooser ng-if="badges && badges.length &gt; 1 && !scores && !quizScores && !lastQuiz" />
		<video-list ng-if="videos" />
		<scoreboard ng-if="user.missedWords || scores || quizScores || lastQuiz" />
		<continue ng-if="user.participantUrl && user.consented && !user.finishedStamp && !user.isExpired" />
		<thanks ng-if="user.finishedStamp" />
	</section>
</section>