<section data-ng-controller="UsersController" class="ng-cloak">
  <h2 ng-if="user.exp == 'C' || user.experience == 'C'">
    Please choose a topic to explore.
  </h2>
  <div ng-if="user.exp == 'G' || user.experience == 'G'">
    <h2>Choose a badge</h2>
    <p>You need to earn the three badges below to move on.
    Choose which badge you want to earn next.</p>
  </div>
  <div layout="row" layout-wrap>
    <div flex="33" ng-repeat="badge in badges" class="badge">
      <a ng-click="submitBadge(badge.badge)">
        <img ng-src="/system/assets/img/svg/{{badge.badge}}{{badge.iconSuffix}}.svg" alt="{{badge.badgeName}}" class="badge-icon" />
        <h4>{{badge.badgeName}}</h4>
        <div ng-if="badge.completed">
        	Completed!
        </div>
      </a>
    </div>
  </div>
</section>