<section data-ng-controller="UsersController" class="ng-cloak">
	<i class="fa fa-flash animate-show" 
		ng-show="values.question.displayedTime < 30000" 
		title="Answer correctly within the first 30 seconds for 15 bonus points" />
	<i class="fa fa-clock-o animate-show" 
		ng-show="values.question.displayedTime < 60000" 
		title="Answer correctly within the first 60 seconds for 10 bonus points" />
	<i class="fa fa-clock-o animate-show" 
		ng-show="values.question.displayedTime < 120000" 
		title="Answer correctly within the first 120 seconds for 5 bonus points" />
</section>