<section class="welcome ng-cloak" data-ng-controller="UsersController">
<div layout="column">
  <md-content flex layout-padding>
    <section>
      <p>You are being asked to participate in a research study about how people engage with and learn about science. You were selected as a possible participant because you accepted a Human Intelligence Task (HIT) on the Amazon Mechanical Turk (AMT) platform. Please read this form and ask any questions that you may have before agreeing to be in the research.</p>
      <p>Researchers at Case Western Reserve University are conducting this study.</p>
    </section>

    <section>
      <h2>Purpose</h2>
      <p>The purpose of this research is to test a platform that would allow people to learn about science at their own pace, eventually exploring newer topics and technologies that may not have been covered in their school classes, potentially because they hadn't been discovered yet. Specifically, this study investigates the effects of game-like elements - such as scores, badges, and trophies - on users' participation and performance.</p>
    </section>
    <section>
      <h2>Procedures</h2>
      <p>If you agree to be a participant in this research, we would ask you to do the following things:</p>
      <ul>
        <li>Keep an open mind and be confident in yourself</li>
        <li>View online videos</li>
        <li>Answer multiple choice and "on a scale of 1 to 5" questions</li>
      </ul>
      <p>Participation in this study will take 1-2 hours, but does not need to be completed in one sitting. You can come back any time in the next week, simply visit <a ng-href="{{user.participantUrl}}" target="_blank">{{user.participantUrl}}</a> to continue the study where you left off. You can choose to stop participating for any reason at any time. Only participants who complete the study will be eligible for compensation.</p>
    </section>
    <section>
      <h2>Foreseeable Risks and Discomforts</h2>
      <p>There are no known risks, harms or discomforts associated with this study beyond those encountered in normal daily life. Some of the activities we will ask you to complete might make you feel uncomfortable. You may refuse to answer any of the questions, take a break, or stop your participation in this study at any time. The possible risks and/or discomforts associated with the procedures described in this study include: frustration or anxiety.</p>
      <p>Your participation in this study is entirely self-paced and you can complete it from anywhere with an internet connection. The researchers have no way to identify you personally, so don't feel pressured to perform. All participants who complete the study will receive a base compensation, no matter how they answer.</p>
    </section>
    <section>
      <h2>Anticipated Benefits</h2>
      <p>The possible benefits you may experience from this study include an increased understanding of scientific topics. You may even find the experience to be enjoyable.</p>
      <p>Data gathered from this study may help researchers and developers better understand how people engage with complex topics online and how to boost engagement. This understanding could lead to improved online learning experiences for the public in the future.</p>
    </section>
    <section>
      <h2>Voluntary Nature of the Study</h2>
      <p>Your participation is voluntary. If you choose not to participate, it will not affect your current or future relations with the University. There is no penalty or loss of benefits for not participating or for discontinuing your participation.</p>
      <p>You are free to withdraw from this study at any time.</p>
      <p>If you elect to withdraw from this research study, researchers may choose to analyze the study data already collected or they may choose to exclude your data from the analysis of study data.</p>
    </section>
    <section>
      <h2>Confidentiality</h2>
      <p>The records of this research will be kept confidential. Any time information is collected, there is a potential risk for loss of confidentiality. Every effort will be made to keep your information confidential; however, this cannot be guaranteed.</p>
      <p>If you choose to contact the researchers, please <strong><em>do not</em></strong> include your participant number in any message you send, as this will breach confidentiality and allow us to identify your study responses.</p>
      <p>In any sort of report we might publish, we will not include any information that will make it possible to identify a participant. Research records will only be accessible by the researchers, the University review board responsible for protecting human participants, and regulatory agencies.</p>
    </section>
    <section>
      <h2>Compensation</h2>
      <p>There will be no costs to you for study participation beyond any costs associated with your Internet access.</p>
      <p>You will receive the following payment/reimbursement for your participation in this study: Once your HIT has been approved by the researcher (within 30 days of study completion by all participants), you will receive a $6 payment for completing the HIT. An additional bonus of $1-6 will be given to the top 52% of participants ranked by score. These bonuses are intended to encourage you to put forth an honest effort rather than answering at random.</p>
    </section>
    <section>
      <h2>Subject Identifiable Data</h2>
      <p>The AMT platform does not provide the researchers with any personally identifiable information about study participants, thus the researcher will have no information regarding your identity. You will only be identified by a unique code which will be given to you at the end of the study to enter into the HIT you accepted.</p>
      <p>If you choose to contact the researchers, please <strong><em>do not</em></strong> include your participant number in any message you send, as this will breach confidentiality and allow us to identify your study responses.</p>
    </section>
    <section>
      <h2>Data Storage</h2>
      <p>Research data will be stored electronically on secured servers. Communications between your computer and the web server, as well as communications between the web server and the database server, will be encrypted using Secure Sockets Layer (SSL), the same technology used to protect credit card numbers and other sensitive data online.</p>
    </section>
    <section>
      <h2>Data Retention</h2>
      <p>The researchers intend to keep the research data in a repository indefinitely.These data may be transmitted and stored without encryption as they contain no personal information. Other researchers may have access to the data for future research. Any data shared with other researchers, will not include your name or other personal identifying information.</p>
    </section>
    <section>
      <h2>Contacts and Questions</h2>
      <p>The researchers conducting this study are <em><strong>Mehmet Koyut&uuml;rk</strong></em> and <em><strong>Kinsey Roberts</strong></em>. You may ask any questions you have now. If you have any additional questions, concerns or complaints about the study, you may contact them at <em><strong>kinsey@case.edu or mehmet.koyuturk@case.edu</strong></em>.</p>
      <p>If the researchers cannot be reached, or if you would like to talk to someone other than the researcher(s) about; (1) questions, concerns or complaints regarding this study, (2) research participant rights, (3) research-related injuries, or (4) other human subjects issues, please contact Case Western Reserve University's Institutional Review Board at (216) 368-4514 or write: Case Western Reserve University; Institutional Review Board; 10900 Euclid Ave.; Cleveland, OH 44106-7230.</p>
      <p>You may print a copy of this form for your records.</p>
    </section>
  </md-content>
  <md-content>
    <form ng-submit="submitConsent()">
        <input name="username" id="username" type="hidden" value="{{user.participant}}" />
        <md-toolbar class="md-warn">
          <div class="md-toolbar-tools">
            <h2 class="md-flex">Statement of Consent</h2>
          </div>
        </md-toolbar>
        <md-content flex layout-padding>
        <md-list>
          <md-subheader class="md-no-sticky">Your continued participation in the study certifies the following (please check each box):</md-subheader>
          <md-list-item>
            <p>You are at least 18 years of age.</p>
            <md-checkbox ng-model="consent.age" aria-label="You are at least 18 years of age."></md-checkbox>
          </md-list-item>
          <md-list-item>
            <p>You have read (or been read) the information provided above.</p>
            <md-checkbox ng-model="consent.info" aria-label="You have read (or been read) the information provided above."></md-checkbox>
          </md-list-item>
          <md-list-item>
            <p>You have received answers to all of your questions and have been told who to call if you have any more questions.</p>
            <md-checkbox ng-model="consent.answers" aria-label="You have received answers to all of your questions and have been told who to call if you have any more questions."></md-checkbox>
          </md-list-item>
          <md-list-item>
            <p>You have freely decided to participate in this research.</p>
            <md-checkbox ng-model="consent.freely" aria-label="You have freely decided to participate in this research."></md-checkbox>
          </md-list-item>
          <md-list-item>
            <p>You understand that you are not giving up any of your legal rights.</p>
            <md-checkbox ng-model="consent.rights" aria-label="You understand that you are not giving up any of your legal rights."></md-checkbox>
          </md-list-item>
        </md-list>
        <div layout="column">
          <md-button class="md-raised md-primary" ng-disabled="!(consent.age && consent.info && consent.answers && consent.freely && consent.rights)" type="submit">
            Continue
          </md-button>
        </div>
      </md-content>
    </form>
  </md-content>
</div>

</section>
