<section data-ng-controller="UsersController" class="ng-cloak continue">
  <hr />
  <h5>Need a break?</h5>
  <p>You can take a break and pick up later, right where you left off, by coming back to <a ng-href="{{user.participantUrl}}">{{user.participantUrl}}</a> any time before {{user.deadline | date:'mediumDate'}} at {{user.deadline | date:'shortTime'}}.</p>
  <h5>Don't forget: Get paid</h5>
  <p>You must submit your participant number ({{user.participant}}) on the Amazon Mechanical Turk HIT you accepted in order to be compensated for your particpation.</p>
  <p>You can enter your participant number in the HIT at any time.</p>
</section>