<select data-ng-controller="UsersController"
    title="Please select an option from the list below, using D to denote the dominant, &ldquo;wild type,&rdquo; allele and d to denote the &Delta;F508 mutation."
    name="{{ question.question }}" 
    id="{{ question.question }}"
    ng-model="response.answer"
    ng-change="dropDownChanged(response)"
    class="ng-cloak"
>
	<option ng-repeat="answer in question.multiAnswers" ng-bind-html="answer.answerText" value="{{answer.answer}}"></option>
</select>