<section class="welcome ng-cloak" data-ng-controller="UsersController">
<div layout="column">
  <md-content flex layout-padding>
    <h2>Participation Expired</h2>
    <p>This study must be completed within one week. You began the study on {{user.consented | date:'mediumDate'}} and your participation window closed on {{user.deadline | date:'mediumDate'}}.</p>
  </md-content>
</div>
</section>