<section data-ng-controller="UsersController" class="ng-cloak">
  <md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">
      <span>{{
        (quizScores && quizScores.length > 0 && quizScores[quizScores.length - 1].title)
        ? quizScores[quizScores.length - 1].title
        : 'Previous'
      }} Quiz Results</span>
    </div>
  </md-toolbar>
  <md-content>
    <md-list flex="" ng-repeat="q in lastQuiz">
      <md-subheader class="md-sticky">
        <strong>{{q.num}}:</strong>
        <span ng-bind-html="q.multiIntroHtml"></span>
      </md-subheader>
      <md-list-item ng-click="null">
        <div class="md-list-item-text">
          <strong>Correct Answer:</strong>
          <em ng-bind-html="q.correct" class="fg-correct"></em>
        </div>
      </md-list-item>
      <md-list-item ng-click="null">
        <div class="md-list-item-text">
          <strong>Your Answer:</strong>
          <em ng-bind-html="q.answer" ng-class="'fg-' + (q.answerScore > 0 ? '' : 'in') + 'correct'"></em>
        </div>
      </md-list-item>
      <md-list-item ng-click="null">
        <div class="md-list-item-text">
          <span ng-if="q.answerScore > 0 && q.likert == 5">
            <i class="fa fa-circle fa-stack-2x fg-confident"></i>
            <i class="fa fa-stack-1x fa-diamond" title="Confident Trophy"></i>
          </span>
          <strong>Score:</strong>
          {{q.timeBonus > 0 ? '( ' : ''}}{{ q.answerScore }} &times; {{q.likert}}{{q.timeBonus > 0 ? ' ) + ' + q.timeBonus : ''}} = {{q.totalScore}}
        </div>
      </md-list-item>
      <md-list-item ng-click="null">
        <div class="md-list-item-text">
          <span ng-if="q.timeBonus == 15">
            <i class="fa fa-circle fa-stack-2x fg-speedy"></i>
            <i class="fa fa-stack-1x fa-flash" title="Speedy Trophy"></i>
          </span>
          <strong>Seconds Taken:</strong>
          {{q.seconds}}
        </div>
      </md-list-item>
      <md-divider></md-divider>
  <md-content>
</section>