<section data-ng-controller="UsersController">
  <form ng-submit="submitLikert()">
    <p ng-bind-html="values.question.likertIntroHtml"></p>
    <div layout>
      <div flex="25" layout layout-align="center center">
        <span class="md-body-1">{{values.question.likertMinLabel}} (1)</span>
      </div>
      <md-slider flex md-discrete ng-disabled="values.response.submittedLikert" min="1" max="5" ng-model="values.response.likert" aria-label="Slider from {{values.question.likertMinLabel}} (1) to {{values.question.likertMaxLabel}} (5)" ng-change="likertChanged()"></md-slider>
      <div flex="25" layout layout-align="center center">
        <span class="md-body-1">{{values.question.likertMaxLabel}} (5)</span>
      </div>
    </div>
    <div ng-if="values.question && values.question.maxScore && values.question.maxScore > 0 && values.response.likert && !values.response.submittedLikert">
      <p class="scores">You'll earn <span class="score-if-correct">{{ values.question.maxScore * values.response.likert }}</span> points if you're right or lose <span class="score-if-incorrect">{{ values.response.likert }}</span> points if you're wrong.</p>
    </div>
    <div layout="column">
      <md-button class="md-raised md-primary" ng-if="!(values.response.submittedLikert && !(values.question.concurrentLikertMulti && values.question.showLikertFirst))" ng-disabled="!(values.response.likert && (!values.question.concurrentLikertMulti || values.response.answer))" type="submit">
        Continue
      </md-button>
      <br />
      <md-button class="md-flat md-primary" ng-if="!(values.response.submittedLikert && !(values.question.concurrentLikertMulti && values.question.showLikertFirst))" ng-click="skipLikert()">
        Decline to answer
      </md-button>
    </div>
  </form>
</section>