<section data-ng-controller="UsersController" class="ng-cloak">
  <div ng-if="user.score > 0">
    <h2>You're doing great!</h2>
    <p>You scored <strong>{{ user.score }} points</strong> on that quiz!</p>
  </div>
  <h2 ng-if="user.score <= 0">Keep it up!</h2>
  <p ng-if="user.missedWords && user.missedWords != '[none]'">
   You had a little trouble with {{ user.missedWords }}, but we'll be covering {{ user.multipleMissedWords ? 'those' : 'that' }} in a few minutes.
  </p>
  <p ng-if="user.missedWords && user.missedWords == '[none]'">
   You knew <em>all</em> of those words!
  </p>
  <h2>Tips to boost your score</h2>
  <ul class="fa-ul list-padded">
    <li>
      <i class="fa fa-li fa-diamond"></i>
      <strong>Confidence pays off:</strong>
      The number you choose on the scale of 1-5 is multiplied by your score on the multiple choice question. Choose higher numbers to boost your score, but keep in mind that you'll lose more points if you're wrong.
    </li>
    <li>
      <i class="fa fa-li fa-flash"></i>
      <strong>Speed is rewarded:</strong>
      Earn bonus points by answering multiple choice questions correctly and quickly. Earn 15 points for answering in the first 30 seconds, 10 points for answering in the first minute, or 5 points for answering in the first two minutes.
    </li>
  </ul>
</section>