<section data-ng-controller="UsersController" class="ng-cloak">
  <form ng-submit="submitMulti()">
    <p ng-bind-html="values.question.multiIntroHtml"></p>

    <md-radio-group ng-if="values.question.allowMultipleMulti == 0" ng-model="values.response.answer" ng-disabled="values.response.submittedMulti" ng-change="multiChanged()">
      <md-radio-button ng-repeat="answer in values.question.multiAnswers" value="{{answer.answer}}" aria-label="{{answer.answerText}}"><span ng-bind-html="answer.answerText"></span></md-radio-button>
    </md-radio-group>

    <div ng-if="values.question.allowMultipleMulti == 1">
      <div ng-repeat="answer in values.question.multiAnswers">
        <label>
          <input type="checkbox" ng-model="values.response.answers[answer.answer]" aria-label="{{answer.answerText}}" ng-change="multiMultiChanged(answer.answer)">
          {{answer.answerText}}
          <md-input-container class="md-block" ng-if="answer.isOther == 1" ng-hide="!values.response.answers[answer.answer]">
            <input md-maxlength="60" name="other" ng-model="values.response.otherText" aria-label="Other response" ng-change="otherChanged(answer.answer)" />
            <div ng-messages="values.response.otherText.$error">
              <div ng-message="md-maxlength">Other response has to be less than 60 characters long.</div>
            </div>
          </md-input-container>
        </label>
      </div>
    </div>

    <div layout="column">
      <md-button class="md-raised md-primary" ng-if="!values.response.submittedMulti && !(values.question.concurrentLikertMulti)" ng-disabled="!(values.question.allowMultipleMulti && hasMultiMultiChecked()) && !(values.response.answer && (!values.question.concurrentLikertMulti || values.response.likert))" type="submit" flex="100"> 
        Continue
      </md-button>
    </div>
  </form>
</section>