<section data-ng-controller="UsersController" class="ng-cloak">
  <div>
    <strong><em ng-bind-html="response.question"></em></strong>
  </div>
  <div>
    <strong>Correct Answer:</strong>
    <em ng-bind-html="response.correct" class="fg-correct"></em>
  </div>
  <div>
    <strong>Your Answer:</strong>
    <em ng-bind-html="response.answered" ng-class="'fg-' + (response.score > 0 ? '' : 'in') + 'correct'"></em>
  </div>
  <div>
    <strong>Score:</strong> 
    {{response.score}}{{response.timeBonus > 0 ? ' + ' + response.timeBonus + ' = ' + (response.score + response.timeBonus) : ''}}
  </div>
</section>