<section data-ng-controller="UsersController" class="ng-cloak">
  <p ng-if="user.exp == 'G' || user.experience == 'G'">Each correct answer is worth 20 points. Each incorrect answer is worth -5 points.</p>
  <form ng-submit="submitPunnett()">
    <table class="table-lined table-padded">
      <tbody>
        <tr>
          <td colspan="2" class="cell-unlined" />
          <th colspan="2">Mark (XY)</th>
        </tr><tr>
          <td colspan="2" class="cell-unlined" />
          <td><drop-down question="values.questions[0]" response="values.responses[0]" /></td>
          <td><drop-down question="values.questions[1]" response="values.responses[1]" /></td>
        </tr><tr>
          <th rowspan="2">Lisa (XY)</th>
          <td><drop-down question="values.questions[2]" response="values.responses[2]" /></td>
          <td><drop-down question="values.questions[4]" response="values.responses[4]" /></td>
          <td><drop-down question="values.questions[5]" response="values.responses[5]" /></td>
        </tr><tr>
          <td><drop-down question="values.questions[3]" response="values.responses[3]" /></td>
          <td><drop-down question="values.questions[6]" response="values.responses[6]" /></td>
          <td><drop-down question="values.questions[7]" response="values.responses[7]" /></td>
        </tr>
      </tbody>
    </table>
    <div layout="column">
      <md-button 
        class="md-raised md-primary" 
        ng-disabled="!(
          values.responses[0].answer && 
          values.responses[1].answer && 
          values.responses[2].answer && 
          values.responses[3].answer && 
          values.responses[4].answer && 
          values.responses[5].answer && 
          values.responses[6].answer && 
          values.responses[7].answer)" 
        type="submit" 
        flex="100"> 
        Continue
      </md-button>
    </div>
  </form>

</section>