<section data-ng-controller="UsersController" class="ng-cloak">
<!-- <pre>scores: {{scores | json}}</pre> -->
  <p ng-if="user.exp == 'G' || user.experience == 'G'">Each correct answer is worth 20 points. Each incorrect answer is worth -5 points.</p>
  <form ng-submit="submitPunnett()">
    <table class="table-lined table-padded">
      <tbody>
        <tr>
          <td colspan="2" class="cell-unlined" />
          <th colspan="2">Mark (XY)</th>
        </tr><tr>
          <td colspan="2" class="cell-unlined" />
          <td><punnett-score response="scores[0]" /></td>
          <td><punnett-score response="scores[1]" /></td>
        </tr><tr>
          <th rowspan="2">Lisa (XY)</th>
          <td><punnett-score response="scores[2]" /></td>
          <td><punnett-score response="scores[4]" /></td>
          <td><punnett-score response="scores[5]" /></td>
        </tr><tr>
          <td><punnett-score response="scores[3]" /></td>
          <td><punnett-score response="scores[6]" /></td>
          <td><punnett-score response="scores[7]" /></td>
        </tr>
      </tbody>
    </table>
  </form>
</section>