<section data-ng-controller="UsersController" class="ng-cloak">
  <section ng-if="scores.score > 0">
    <h2>Congratulations, you answered correctly!</h2>
    <p>You scored {{ scores.score }} points<span ng-if="scores.timeBonus > 0"> plus a {{ scores.timeBonus }}-point bonus for answering both quickly and correctly</span>.</p>
  </section>
  <section ng-if="scores.score < 0">
    <h2>Not quite&hellip;</h2>
    <p><em ng-bind-html="scores.question"></em></p>
    <p>
      <strong>The correct answer was:</strong>
      <em ng-bind-html="scores.correct" class="fg-correct"></em>.
    </p>
    <p>
      <strong>You answered:</strong>
      <em ng-bind-html="scores.answered" class="fg-incorrect"></em>.
    </p>
    <p>You lost {{ scores.score * -1 }} points.</p>
  </section>
  <section ng-if="scores.score == 0">
    <h2>You chose not to answer the previous question.</h2>
    <p><em ng-bind-html="scores.question"></em></p>
    <p>
      <strong>The correct answer was:</strong>
      <em ng-bind-html="scores.correct" class="fg-correct"></em>.
    </p>
    <p>Your score did not change.</p>
  </section>
  <section ng-if="scores.score > 0">
    <div layout-gt-sm="row">
      <span flex=""></span>
      <aside ng-if="scores.timeBonus == 15" flex-gt-sm="{{scores.likert == 5 ? 33 : 100}}" flex="">
        <div class="trophy">
          <span class="fa-5x fa-stack">
            <i class="fa fa-circle fa-stack-2x fg-speedy"></i>
            <i class="fa fa-stack-1x fa-flash" title="Speedy"></i>
          </span>
          <h2>Speedy!</h2>
          <p>That was a lightning-fast answer; keep it up!</p>
          <p ng-if="user.speedyStreak > 1">That's {{user.speedyStreak}} correct answers in a row in under 30 seconds each!</p>
        </div>
      </aside>
      <span flex=""></span>
      <aside ng-if="scores.likert == 5" flex-gt-sm="{{scores.timeBonus == 15 ? 33 : 100}}" flex="">
        <div class="trophy">
          <span class="fa-5x fa-stack">
            <i class="fa fa-circle fa-stack-2x fg-confident"></i>
            <i class="fa fa-stack-1x fa-diamond" title="Confident"></i>
          </span>
          <h2>Confident!</h2>
          <p>Congratulations! You were really confident that you had the correct answer and you were right!</p>
          <p ng-if="user.numConfident > 1">You've been really confident on {{user.numConfident}} questions so far.</p>
        </div>
      </aside>
      <span flex=""></span>
    </div>
  </section>
</section>