<section data-ng-controller="UsersController" class="ng-cloak">
  <section ng-if="values.question && values.question.introHtml" interactable-bind-html ng-bind-html="values.question.introHtml"></section>
  <section ng-if="values.questions && values.questions[0].introHtml" interactable-bind-html ng-bind-html="values.questions[0].introHtml"></section>
  <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2 class="md-flex" ng-if="values.question">Question {{ values.question.displayOrder }}</h2>
      <h2 class="md-flex" ng-if="values.questions">Questions {{ values.questions[0].displayOrder }} - {{ values.questions[values.questions.length - 1].displayOrder }}</h2>
      <span ng-if="values.question && values.question.maxScore && values.question.maxScore > 0">
        &nbsp;({{values.question.maxScore}} points)
      </span>
      <span ng-if="values.question && (values.question.maxScore || 0) == 0 && (user.exp == 'G' || user.experience == 'G')">
        &nbsp;(unscored)
      </span>
      <span flex></span>
      <clocks ng-if="(user.exp == 'G' || user.experience == 'G') && values.response && values.response.displayedMulti && !values.response.submittedMulti && values.question && values.question.maxScore && values.question.maxScore > 0"/>
    </div>
  </md-toolbar>
  <a name="question"></a>
  <md-content flex layout-padding>
    <section ng-if="values.question">
      <h3 ng-if="values.question.header">{{values.question.header}}</h3>
      <em ng-if="(values.question && values.question.outroHtml) || (values.questions && values.questions[0].outroHtml)"><small>Introductory text from previous question(s) is reproduced below for reference.</small></em>


      <likert-scale ng-if="values.question.renderLikertBefore && values.question.likertMaxLabel" />
      <multiple-choice ng-if="values.question.multiAnswers" />
      <likert-scale ng-if="!values.question.renderLikertBefore && values.response.submittedMulti && values.question.likertMaxLabel" />
    </section>
    <punnett-square ng-if="values.questions" />
    <section ng-if="values.question && values.question.outroHtml" interactable-bind-html ng-bind-html="values.question.outroHtml" />
    <section ng-if="values.questions && values.questions[0].outroHtml" interactable-bind-html ng-bind-html="values.questions[0].outroHtml" />
  </md-content>
</section>