<section data-ng-controller="UsersController" class="ng-cloak">
  <h2 ng-if="quiz.showHeader">{{ quiz.title }}</h2>
  <section ng-bind-html="quiz.introHtml"></section>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab ng-repeat="q in quiz.questions" label="#{{$index+1}}" ng-disabled="q != values.question.question">
      </md-tab>
    </md-tabs>
    <md-content class="md-padding">
      <question-panel />
    </md-content>
  </md-content>
</section>