<section data-ng-controller="UsersController" class="ng-cloak">
  <md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">
      <span>All Quiz Scores</span>
    </div>
  </md-toolbar>
  <md-content>
    <md-list flex="" ng-repeat="quizScore in quizScores">
      <md-subheader class="md-sticky">
        {{quizScore.num}}: {{quizScore.title}} Quiz
      </md-subheader>
      <md-list-item ng-click="null" ng-if="quizScore.timeBonuses > 0">
        <div class="md-list-item-text">
          <strong>Score:</strong>
          {{quizScore.multiScore}}
        </div>
      </md-list-item>
      <md-list-item ng-click="null" ng-if="quizScore.timeBonuses > 0">
        <div class="md-list-item-text">
          <strong>Time Bonuses:</strong> 
          {{quizScore.timeBonuses}}
        </div>
      </md-list-item>
      <md-list-item ng-click="null" ng-if="quizScore.isScored">
        <div class="md-list-item-text">
          <strong>Total Score:</strong> 
          {{quizScore.totalScore}}
        </div>
      </md-list-item>
      <md-list-item ng-click="null" ng-if="!quizScore.isScored || quizScore.isScored == 0">
        <div class="md-list-item-text">
          <strong>Unscored</strong> 
        </div>
      </md-list-item>
      <md-divider></md-divider>
  <md-content>
</section>