<section data-ng-controller="UsersController" class="ng-cloak">
  <missed-words ng-if="user.missedWords" />
  <question-score ng-if="scores && !Array.isArray(scores)" />
  <punnett-scores ng-if="scores && isArray(scores)" />

  <hr ng-if="scores && (lastQuiz || quizScores)" />
  <div ng-if="lastQuiz || quizScores">
    <h2>
      You completed {{
        (quizScores && quizScores.length > 0 && quizScores[0].title)
        ? 'the ' + quizScores[quizScores.length - 1].title + ' Quiz'
        : 'a quiz'
      }}!
    </h2>
    <p>View
      <span ng-if="lastQuiz">your scores to each question in this quiz</span>
      <span ng-if="lastQuiz && quizScores">and</span>
      <span ng-if="quizScores">your scores for each quiz you've taken so far</span>
      below.
    </p>
  </div>
  <div layout-gt-sm="row" ng-if="lastQuiz || quizScores">
    <last-quiz ng-if="lastQuiz" flex-gt-sm="{{quizScores ? 45 : 100}}" flex="" />
    <span flex=""></span>
    <quiz-scores ng-if="quizScores" flex-gt-sm="{{lastQuiz ? 45 : 100}}" flex="" />
  </div>
  <div layout="column">
    <md-button class="md-raised md-primary" ng-click="continue()" flex="100"> 
      Continue
    </md-button>
  </div>
</section>