<section data-ng-controller="UsersController" class="ng-cloak">
  <h2>Thank you!</h2>
  <p>You have completed the exercise and we appreciate your participation. You must submit your participant number ({{user.participant}}) on the Amazon Mechanical Turk HIT you accepted in order to be compensated for your particpation.</p>

  <section ng-if="leaderboard">
    <h2>Leaderboard</h2>
    <div ng-if="user.participantCount < 100">
      <p>The progress bar below shows our progress in recruiting participants. Once the study is completed, top-scoring participants will be paid bonuses on their HITs. The leaderboard below shows your current rank, though <em>this may change as more participants complete the study</em>. You can return to this page to see how your rank changes over time.</p>
      <md-progress-linear md-mode="determinate" value="{{user.participantCount}}"></md-progress-linear>
    </div>
    <div ng-if="user.participantCount >= 100">
      <p>All participants have been recruited and the study is completed. Your rank is shown on the leaderboard below. If you have not yet recieved your payment and/or bonus, it will be issued soon.</p>
    </div>
    <p>Thanks again for participating!</p>
    <table class="leaderboard">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Participant #</th>
          <th>Score</th>
          <th>Bonus</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="l in leaderboard"
            ng-class="l.participant == user.participant ? 'user-row' : ''">
          <td>{{l.rank}}</td>
          <td>{{l.participant}}</td>
          <td>{{l.score}}</td>
          <td>{{getBonus(l.rank)}}</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>