<section data-ng-controller="UsersController" class="ng-cloak">
  <div ng-if="!quiz">
    <h2>{{badges[0].badgeName}}</h2>
    <p>Let's take some time to learn about {{badges[0].badgeName}}. The videos below will help you learn about the basics.</p>
    <p ng-if="badges[0].badge != 'CC'">Each of the videos below covers similar information, but in different styles. If you don't like one, feel free to try another. As long as you watch at least one, you should be fine.</p>
    <p ng-if="badges[0].badge == 'CC'">You need to learn about both <em>mitosis</em> <strong>and</strong> <em>meiosis</em>. The videos below cover similar information, but in different styles. If you don't like one, feel free to try another. As long as you watch at least one about <em>mitosis</em> <strong>and</strong> one about <em>meiosis</em>, you should be fine.</p>

    <div layout-gt-sm="row" layout-wrap>
      <div ng-repeat="video in videos" flex-gt-sm="45" class="video-panel">
        <div class="embed-responsive embed-responsive-16by9">
          <div id="video-{{video.youtube}}" data-youtube="{{video.youtube}}" data-video="{{video.video}}" class="embed-responsive-item"></div>
        </div>
        <h6>"{{video.title}}" by <em>{{video.user}}</em></h6>
      </div>
    </div>

    <form ng-submit="startBadgeQuiz()" ng-hide="quiz" layout="column">
      <md-button class="md-raised md-primary" type="submit" flex="100">
        Continue to the {{badges[0].badgeName}} quiz
      </md-button>
    </form>
  </div>
  <div ng-if="quiz && (!values.response.submittedMulti || values.responses)">
    <small class="text-center pad-bttm" layout="column">
      Here are the videos for this badge, in case you want to review.
    </small>
    <div layout-gt-sm="row" layout-wrap>


      <div ng-repeat="video in videos" flex-gt-sm="30" class="video-panel">
        <div class="image-wrapper-16-9" ng-click="videoPreviewClicked($event)">
          <div>
            <img ng-src="//img.youtube.com/vi/{{video.youtube}}/0.jpg" data-youtube-preview="{{video.youtube}}" data-video="{{video.video}}" />
          </div>
        </div>
        <h6>"{{video.title}}" by <em>{{video.user}}</em></h6>
      </div>
    </div>
  </div>
  <youtube-api />
</section>