<md-toolbar data-ng-controller="UsersController" class="ng-cloak">
	<div class="md-toolbar-tools" flex-offset-gt-md="10" flex-gt-md="75">
		<h3 ng-show="user.participant" class="ng-cloak">
			<img src="/system/assets/img/favicon/favicon-32x32.png" alt="Double helix in orange circle" /> 
			<span class="topnav-participant"><span ng-if="user.isTest">TEST </span>Participant #{{ user.participant }}</span>
		</h3>
		<span flex></span>
		<md-chips>
			<md-chip style="background-color: #69F0AE;" ng-show="user.speedyStreak && user.speedyStreak > 0" title="You have answered the past {{ user.speedyStreak }} question{{ user.speedyStreak > 1 ? 's' : '' }} correctly in under 30 seconds">
				<i class="fa fa-flash"></i> <i class="fa fa-times"></i> {{ user.speedyStreak }}
			</md-chip>
			<md-chip style="background-color: #FFFF00;" ng-show="user.numConfident && user.numConfident > 0" title="You have answered {{ user.numConfident }} question{{ user.numConfident > 1 ? 's' : '' }} correctly when you were most confident in your answer">
				<i class="fa fa-diamond"></i> <i class="fa fa-times"></i> {{ user.numConfident }}
			</md-chip>
		</md-chips>
		<h3 ng-show="user.score" class="ng-cloak">
			Score: {{ user.score }}
		</h3>
	</div>
</md-toolbar>
