.content {
  margin-top: 70px;
  width: 100%
}
.text-center {
  text-align: center;
}
hr {
  margin: 3em 0;
}
.pull-right {
	float: right;
}
span.topnav-participant {
	position: relative;
	top: -8px;
	left: 4px;
}