.table-lined, .table-padded {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 2em;
	border: 2px #777 solid;
}
.table-lined td, .table-lined th {
	border: 1px #777 solid;
	padding: 5px 0;
	text-align: center;
}
.table-lined thead td, .table-lined thead th {
	border: 2px #777 solid;

} 
.table-padded td, .table-padded th {
	padding: 30px 0;
}
.table-lined td.cell-unlined, .table-lined th.cell-unlined {
	border: none;
	background-color: #ddd;
}