.fa.ng-hide-add {
  animation: 0.5s example ease;
}

@keyframes example {
  0%   { opacity: 1.0; }
  100% { 
    opacity: 0.0; 
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
}
