.genotype-red,
.genotype-yellow,
.genotype-green {
	font-weight: bold;
}
.genotype-red {
	background-color: #ffc7ce;
	/*color: #9c0006;*/
}
.genotype-yellow {
	background-color: #ffeb9c;
	/*color: #9c6500;*/
}
.genotype-green {
	background-color: #c6efce;
	/*color: #006100;*/
}
