p.scores {
  text-align: center;
  margin: 2em 0;
}
.score-if-incorrect, .score-if-correct {
  border-radius: 5em;
  color: white;
  padding: 1em 1.25em;
  font-weight: bolder;
  font-size: 1.1em;
}
.score-if-incorrect {
  background-color: #f44336;
}
.score-if-correct {
  background-color: #4caf50;
}
