.list-padded>li {
  line-height: 1.25em;
  padding-bottom: 1em;
}
.list-padded>li>.fa-li {
  top: 0.25em;
}
.trophy {
  text-align: center;
}
.trophy .fa-stack .fa-stack-1x {
  color: #000;
}
md-list .md-subheader {
  font-size: 17px;
}