.leaderboard {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2em;
  border: 2px #777 solid;
}
.leaderboard > thead > tr > th,
.leaderboard > tbody > tr > td { 
  text-align: center;
  padding: 0.3em 0;
}
.leaderboard > thead > tr > th {
  border: 1px solid #999;
}
.leaderboard > tbody > tr > td { 
  border: 1px solid #ddd;
}
.user-row{
  font-weight: bolder;
  font-size: 1.2em;
  background-color: #FFFF00;
}