.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.video-panel {
  margin: 0 0 0 1em;
}
.image-wrapper-16-9 {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  overflow: hidden;
}
.image-wrapper-16-9 > div {
  position: absolute;
  top: -16.75%;
  bottom: 0;
  left: 0;
  right: 0;
}
.image-wrapper-16-9 > div > img {
  overflow: hidden; 
  width:100%;
}
.pad-bttm {
  padding-bottom: 0.25em;
}